<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio - Nicholas Renner</title>

    <link rel="stylesheet" href="static/css/portfolio.css" type="text/css">



  </head>
  <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <img src="static/logosmaller.png" height="100px" width="100px">
                </div>
                <div class="col-md-6 text-right">
                    <h1>Nicholas Renner</h1>
                    <h3>
                      Innovator, Sustainability Engineer, Programmer
                    <br>
                    <a href="static/rennerresume.pdf">
                      Resume
                    </a>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" src="http://placehold.it/1140x350">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Featured Work</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="static/is2.jpg" width="555" height="300">
                  <a href="http://www.integratedsymbiotics.com">
                    <h3>Integrated Symbiotics</h3>
                  </a>
                </div>
                <div class="col-md-6">
                    <img src="static/tadpole.jpg" width="555" height="300">
                  <a href="http://devpost.com/software/integrated-symbiotics-tadpole-amas">
                    <h3>Tadpole AMAS</h3>
                  </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="http://placehold.it/555x300">
                    <h3>Appify</h3>
                    <p><a href="http://github.com">Link to project</a></p>
                </div>
                <div class="col-md-6">
                    <img src="http://placehold.it/555x300">
                    <h3>Appify</h3>
                    <p><a href="http://github.com">Link to project</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
