{% extends "base.html" %}
{% block title %}Store{% endblock %}
{% block content %}
 <header id="store" class="remove-bg">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Store</h1>
                <hr class="dark">
                <p class="text-dark">
Coming Soon!.
Integrated Symbiotics Online Store Coming Fall 2015<br><br>
Stay tuned for products from manufacturers of the leading hydroponics, aquaponics, and home sustainability brands. Plus innovative products designed by Integrated Symbiotics.<br>
<br><br>
<img  src="/static/hydrofarm1.jpg" alt="Design" width="300px" height="150px" align="center" >
<img  src="/static/hydrofarm2.jpg" alt="Design" width="300px" height="150px" align="center" >
</p>

            </div>
        </div>
    </header>
{% endblock %}
